<%- include('header.ejs') %>
    <link rel="stylesheet" href="/genre/css/style.css">
    <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
    <script src="/genre/js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <%- include('navbar.ejs') %>
    <div id="container">
        <div id="booksContainer">
            <h2><%=authorID%></h2>
            <div id="books">
                <% books.forEach((book) =>{ %>
                <a class="innerBook" href="/book/<%=book._id%>"> 
                    <h1 class="bookTitle"><%=book._id%></h1>
                    <img class="bookImage" src="<%=book.cover%>"></img>
                </a>
                <% }); %>
            </div>
        </div>

    </div>
</body>
</html>