<html>
<head>
    <link rel="stylesheet" href="/book/css/style.css">
    <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
    <script src="/book/js/book.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
</head>
<body>
    <%- include('navbar.ejs') %>
    <div id="container">
        <div id="bookContainer">
            <h2 id="bookTitle" class="bookTitle"><%=book._id%></h2>
            <img class="bookImage" src="<%=book.cover%>"></img>
            <h1 class="innerBook"><%=book.price%></h1>
            <a class="innerBook" href="/author/<%=book.author%>"><%=book.author%></a>
        </div>
            <button class="btn" id="btn" onclick="addToCart()">Add To Cart</button>
    </div>

    </div>
</body>
</html>