<%- include('header.ejs') %>
    <link rel="stylesheet" href="/home/css/style.css">
    <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
    <script src="/home/js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include('navbar.ejs') %> 
    <div 
        class="bg-image"
        style="
        background-image:  url('/background/background.jpg');
        height: 100vh;
        "

   >

   <div class="col-sm-6 text-md-center">
        <h2 class="text-md-center">Genre</h2>

            <div class="card-deck align-items row">
                <% genres.forEach((genre) =>{ %>
                <div 
                    class="card"
                    style="max-width: 18rem;
                        max-heigth: 18rem;
                        display:inline;">
            
                <img src="<%=genre.url%>" class="card-img-top" alt="Card image cap">

         
                        <div class="card-body text-white">
                            <h1 class="card-title"><%=genre._id%></h1>
                            <p class="card-text">does this show</p>
                        </div>

                
                </div>
                <% }); %>
            </div>


        <hr class="hr hr-blurry" />

    
        <h2>Popular Books</h2>
        <div class="card-deck">

            <% popularBooks.forEach((book) =>{ %>
            
                    <div 
                    class="card"
                    style="max-width: 18rem;">
                    <img src="<%=book.url%>" class="card-img-top">
                    <div class="card-body text-white">
                        <h1 class="card-title"><%=book._id%></h1>
                    </div>

                    
                    </div>
            <% }); %>
            </div>
        <hr class="hr hr-blurry" />

        <h2>Popular Authors</h2>
        <div class="card-deck">
            <% authors.forEach((author) =>{ %>
                    <div 
                    class="card card-1 shadow-1-strong"
                    style="max-width: 18rem;">

                        <div class="card-body text-white">
                            <h1 class="card-title"><%=author._id%></h1>
                        </div>

            
                    </div>
            <% }); %>
            </div>
        </div>
    </div>  
        <aside>
            <div>Frequently asked questions</div>
        </aside>

  
<%- include('footer.ejs') %>

